html{
  height: 100%;
  width: 100%;
}

body{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

#video-container{
  position: absolute;
}

.main-circle-holder{
  position: absolute;
}

#main-circle-empty{
  position: absolute;
  z-index: 1;
}

.level-display{
  position: absolute;
  /* transform-origin: 50% 68.3614178%; */
  z-index: 2;
}

.player-Row{
  position: absolute;
}

#white-circle{
  position: absolute;
  z-index: 3;
}

#circle-text{
  position: absolute;
  font-size: 2em;
  font-weight: bold;
  z-index: 4;
  text-align: center;
}

#circle-img{
  position: absolute;
  z-index: 4;
}

.instruction-message-holder{
  position: absolute;
  font-size: 1.5em;
  max-width: 25%;
  text-align: center;
}

.logo.error{
  height: 15%;
}

.player-row{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.player-row.inverted{
  top: 0;
  bottom: auto;
}

.user-row .logo {
  width: 150px;
}

.player-row .inline{
  display: inline;
}

.user-message{
  /* text-align: center; */
  /* width: 500px; */
  font-weight: bold;
  font-size: 1.3em;
  position: absolute;
}

.level-row{
  padding-bottom: 5px;
}

.level-number{
  background-color: #e42832;
  width: 75px;
  height: 75px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.level-number .level-numeric{
  font-size: 2em;
}

.level-plus, .level-minus{
  transform: rotate(180deg);
  cursor: pointer;
}

.inverted{
  transform: rotate(180deg);
}

/* timer circle style */
#svg-timer-holder{
  position: absolute;
  z-index: 4;
}

#svg-timer-holder{
  transform: rotate(-90deg);
  /* display: none; */
}

.timer-circle {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 440;
}

@media (max-width: 720px){
  .errorMessage.jsError{
    display: none;
  }

  .errorMessage.screenSize{
    display: inline-block;
  }
}
