html{
  height: 100%;
  width: 100%;
  font-family: Raleway;
}

body{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.row{
  padding-top: 5px;
}

.center{
  text-align: center;
}

.inverted{
  transform: rotate(180deg);
}

.user-message{
  font-weight: bold;
  font-size: 1.4em;
}

.sdg-img:hover{
  cursor: pointer;
}
