html{
  height: 100%;
  width: 100%;
  font-family: Raleway;
}

body{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.row{
  padding-top: 5px;
}

.center{
  text-align: center;
}

.inverted{
  transform: rotate(180deg);
}

.user-message{
  font-weight: bold;
  font-size: 1.4em;
}

.sdg-img{
  transition: 0.1s;
}

.sdg-img:hover{
  cursor: pointer;
}

.level-plus, .level-minus{
  transform: rotate(180deg);
  cursor: pointer;
  z-index: 5;
  margin-bottom : 25px;
}

.main-circle{
  position: absolute;
}

.player-row{
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-left: 25px;
}

.player-row.inverted{
  top: 0 !important;
  bottom: auto !important;
}

.level-number{
  background-color: #e42832;
  width: 75px;
  height: 75px;
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
  color: white;
}

.inline{
  display: inline;
}
